# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Hasu 
	email =syu8.0324@outlook.jp 
[alias]
	ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	ad = "add"
